* {
	font-family: "Forte", fantasy;
}

body {
	background-color: #EFEFEF;
	margin: 0;
}

@font-face {
	font-family: "Forte";
	src: url('Recursos/FORTE.TTF');
}

@keyframes tarjeta {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-width: 390px;
	position: sticky;
	z-index: 50;
	top: 0;
	background-color: #001EFF;
}

.titulo {
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.titulo h1 {
	margin: 0;
	color: white;
}

.titulo img {
	width: 50px;
	filter: invert(50%) brightness(200%);
}

.busqueda {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-right: 10px;
	background-color: white;
	border-radius: 30px;
	width: 250px;
	height: 30px;
}

.busqueda label {
	color: #001EFF;
	margin: 0 5px;
	margin-right: 10px;
	text-decoration: none;
}

.busqueda input {
	font-family: 'Syne Mono', monospace;
	flex-grow: 1;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	margin-left: 10px;
}

.contenedor {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;
	min-width: 390px;

	padding: 15px;
	text-align: center;
}

.card {
	background-color: white;
	border-radius: 20px;
	width: 250px;
	height: 315px;
	margin: 20px;
	position: relative;

	/*animation: tarjeta 0.5s;*/
}

.card__lista {
	position: absolute;
	z-index: 5;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	width: 225px;
	text-align: left;
	font-size: 15px;
}

.card__lista * {
	font-family: 'Ranchers', cursive;
	line-height: 2;
	font-weight: normal;
	color: darkblue;
	text-decoration: none;
}

.card__lista i {
	font-weight: bold;
}

ul li a:hover {
	color: blue;
	text-decoration: underline;
}

ul li a:hover > i {
	color: blue;
}

ul li a:active {
	color: lightblue;
}

.card__imagen {
	visibility: visible;
	position: relative;
	z-index: 10;
	background-color: white;
	border-radius: 5px;
	width: 225px;
	height: 281px;
	margin: auto;
	margin-top: 10px;
}

.card__imagen img {
	height: 263px;
	margin: 10px auto;
}

.card__boton {
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #001EFF;
	border: none;
	border-radius: 30px;
	width: 161px;
	height: 36px;
	position: absolute;
	z-index: 20;
	right: -12px;

	font-size: 26px;
	color: white;
}

.card__boton span {
	display: inline-block;
	flex-grow: 1;
	margin-left: 15px;
}

.card__boton i {
	margin-right: 5px;
}

.card__boton:hover {
	background-color: #000853;
	cursor: pointer;
}

.card__imagen.invisible {
	visibility: hidden;
}

.card.ocultar {
	visibility: hidden;
	position: absolute;
}

.card.ocultar * {
	visibility: hidden;
}


@media only screen and (max-width: 475px) {
	.contenedor {
		padding: 15px;
	}

	.titulo h1 {
		visibility: hidden;
		position: absolute;
	}

	.card {
		width: 150px;
		height: 190px;
		margin: 10px;
	}

	.card__lista {
		width: 135px;
		font-size: 10px;
	}

	.card__imagen {
		width: 135px;
		height: 167px;
	}

	.card__imagen img {
		height: 158px;
	}

	.card__boton {
		width: 97px;
		height: 22px;
		font-size: 16px;
	}
}
